<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Biblioteca Delivery </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->
    <!-- para que sea index.php pueda importarlo -->
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <style>
        .boton_oculto {
            display: none;
        }
        .aparecer_boton:hover + .boton_oculto {
            display: block;
        }
    </style>
</head>